*{
    box-sizing: border-box;
}

form {
  text-align: center;
  margin: 30px;
  padding-top: 20px;
}

form input{
  width: 400px;
  height: 50px;
  border: 2px solid #93e6B4; 
  border-radius: 0.67em;
}
a {text-decoration: none;}

.inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: content-box;
    }

.header {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    }

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.header-title a{
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.header-nav-list {
    display: flex;
    }

.header-nav-item:not(:first-child){
    margin-left: 40px;
    }

.header-nav-item-link {
    display: block;
    color: #333;
    height: 80px;
    line-height: 80px;
    }

ul {
    overflow:hidden;
    list-style:none;
    margin: 0 auto;
    z-index: 20;
    }
    
    ul li {
    
    display: inline-block;
    padding: 26px 10px 20px 10px;
    }

h1 {
  padding: 1rem 2rem;
  color: #fff;
  background: #094;
  -webkit-box-shadow: 5px 5px 0 #007032;
  box-shadow: 5px 5px 0 #007032;
}

h3{
    text-align: center;
}

.holder{
  font-size: 15px;
  font-size: 1.5rem;
  position: relative;
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 15px;
}

.holder span {
  font-size: 9px;
  font-size: 1.2rem;
  display: block;
}

span:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: "";
  border-radius: 3px;
  background: #fa4141;
}
#postBtn{
  color: white;
  width: 100px;
  height: 50px;
  background: #93e6B4;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  border: none;
}
#postBtn:hover{
  background: #93e6B4;
  opacity: 80%;
}

.hide{
  display: none;
}
#alert{
  color: red;
  text-align: center;
  margin: auto;
}
.show{
  display: hide;
  text-align: center;
}
.center{
  text-align: center;
}
.btns{
  text-align: center;

}


#updateBtn{
  margin-right: 20px;
  width: 150px;
  height: 50px;
  background-color: aquamarine;
  border-radius: 15px;
  border: none;
}
#updateBtn:hover{
  opacity: 80%;
}
#deleteBtn{
  width: 150px;
  height: 50px;
  background-color: #fa4141;
  border-radius: 15px;
  border: none;
}
#deleteBtn:hover{
  opacity: 80%;
}