* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

#contents{
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
}
.second{
    margin-bottom: 25px;
}

.signup{
    background-color: #93e6B4;
    color: white;
    padding: 20px 80px;
    margin-top: 25px;
    border-radius: 15px;
}

.signup:hover{
    opacity: 80%;
}

.recently{
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
}